services:
  etcd:
    container_name: milvus-etcd
    image: {{ milvus_etcd_image }}
    restart: always
    environment:
      - ETCD_AUTO_COMPACTION_MODE=revision
      - ETCD_AUTO_COMPACTION_RETENTION=1000
      - ETCD_QUOTA_BACKEND_BYTES=4294967296
      - ETCD_SNAPSHOT_COUNT=50000
    volumes:
      - ./data/etcd:/etcd
    command: etcd -advertise-client-urls=http://etcd:2379 -listen-client-urls http://0.0.0.0:2379 --data-dir /etcd
    healthcheck:
      test: ["CMD", "etcdctl", "endpoint", "health"]
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
      - milvus

  milvus:
    container_name: milvus
    image: {{ milvus_image }}
    command: ["milvus", "run", "standalone"]
    restart: always
    security_opt:
      - seccomp:unconfined
    environment:
      ETCD_ENDPOINTS: etcd:2379
      MINIO_ADDRESS: {{ milvus_s3_endpoint }}
      MINIO_PORT: 443
      MINIO_ACCESS_KEY_ID: {{ milvus_s3_access_key }}
      MINIO_SECRET_ACCESS_KEY: {{ milvus_s3_secret_key }}
      MINIO_BUCKET_NAME: {{ milvus_s3_bucket_name }}
      MINIO_USE_SSL: {{ milvus_s3_use_ssl | lower }}
    volumes:
      - ./data/milvus.yaml:/milvus/configs/milvus.yaml
      - ./data/milvus:/var/lib/milvus
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9091/healthz"]
      interval: 30s
      start_period: 90s
      timeout: 20s
      retries: 3
    ports:
      - "{{ milvus_port }}:19530"
      - "9091:9091"
    depends_on:
      - "etcd"
    networks:
      - milvus

  milvus-attu:
    container_name: milvus-attu
    image: {{ milvus_attu_image }}
    restart: always
    environment:
      MILVUS_URL: milvus:19530
    ports:
      - "{{ milvus_attu_port }}:3000"
    depends_on:
      - "etcd"
      - "milvus"
    networks:
      - milvus

networks:
  milvus:
